/* --------------------------------------NAVBAR------------------------------------------------------ */
body {
    margin-top: 50px;
}

#navbarDropdown:hover >.dropdown-menu{
    display:block;
}

.navbar {
    display: flex;    
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    padding-bottom: 1cm;
}

.navbar .collapse h1 {
    font-family: 'Red Rose', cursive; 
    font-size: 18px;
    line-height: 22px;
}

.navbar .collapse h1 span {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
}

.navbar li {
    margin-right: 65px;
    color: black;
}

.dropdown-menu {
    position:relative;
    top:2.5rem;
    border:none;
    background-color: none;
}


.dropdown-item {
    font-family: 'Red Rose', cursive; 
    line-height: 10px;
    background-color: white !important;
    color: #000 !important;
}

/*custom menu */
#tendancesLink{
    font-size: 22px;
}

#navbarDropdown {
    font-family: 'Red Rose', cursive;
    font-size: 18px;
    line-height: 22px;
}

.dropdown-toggle::after {
    content: none;
}

@media only screen and (min-width: 1200px) {
    .imglogogc {
        padding-right: 20px;
    } 
}
.dropdown-menu > #navbarDropdown {
    font-size : 16px;
    padding: 0.25rem 1.5rem;
    padding-bottom: 1cm;
}

.navbar-nav .nav-item .submenu a {
    font-size : 9px;
    line-height: 5px;
    margin-left: 16px;
}

.dropdown-item .tendance {
    color: aqua;
}

/* ----------------------------------SEARCH------------------------------------------------------ */

.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
}

.input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    padding-right: 40px;
    color:rgb(0, 0, 0);
}

.input-search::placeholder{
    color:rgba(0, 0, 0, 0.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}
  
.btn-search{
    width: 32px;
    height: 32px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    color:#030303 ;
    background-color:transparent;
    pointer-events: painted;  
}
  
.btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(0, 0, 0, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(0, 0, 0, 0.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}



/* --------------------------------------PAGE ARTICLE---------------------------------------------- */

.main-article .title-art h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.main-article {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    margin-bottom: 100px;
}





/* ----------------------------------BAS DE PAGE--------------------------------------------- */
/* 
Palette de couleur demandée

:root {
  --color1: #FBFBFB;
  --color2: #27201F;
  --color3: #DFC7E1;
} 

*/

/* Retire les parametres par defaut du html */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
  
body {
    background: var(--color1);
}

/* Definie la zone de contenu du footer */
@media only screen and (min-width: 600px) {
body footer .content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}}

@media only screen and (max-width: 600px) {
    body footer .content {
        width: 100%;
        height: 100%;
        size: 100%;
    }

    body footer .content .communStyle {
        font-size: 2px;
        font-family: "Playfair Display";
        color: #000;
    }
}


/* Style commun des section */
body footer .content .communStyle {
    font-size: 18px;
    font-weight: 400;
    font-family: "Playfair Display";
    color: #000;
}

/* Separe les titres des sections */
body footer .content .communStyle .communFooterTitle {
    margin-bottom: 20px;
}

/* Aligne les logos des reseaux */
body footer .content .social-net ul {
    display: flex;
}

/* Change le curseur sur les logos */
body footer .content .social-net ul li {
    cursor: pointer;
}

/* Taille des logos */
body footer .content .social-net ul li .logo-social {
    height: 49px;
}

/* Section copyright */
body footer .copyright {
    text-align: center;
    margin-top: 83px;
    color: #949494;
}

/* Contenue de la section copyright */
body footer .copyright h3 {
    font-size: 16px;
    font-weight: 700;
    font-family: "Playfair Display";
}/*# sourceMappingURL=main.css.map */

